<h1 id="title">March of the Times</h1>
<div id="map" class="this"></div>
<div class="container">
  <div class="legend">
    <div class="key">
      <span>World</span><br>
      <%= image_tag "renders/embassy-24@2x.png" %>
    </div>
    <div class="key">
      <span>U.S.</span><br>
      <%= image_tag "renders/bank-24@2x.png" %>
    </div>
    <div class="key">
      <span>Science</span><br>
      <%= image_tag "renders/chemist-24@2x.png" %>
    </div>
    <div class="key">
      <span>Business</span><br>
      <%= image_tag "renders/mobilephone-24@2x.png" %>
    </div>
  </div>
  <div class="search_form"></div>
  <!-- creates the form for searching -->
  <%= form_tag do %>
  <%= label_tag(:term, "Find Stories Related To:") %><br>
  <%= text_field_tag(:term) %><br>
  <%= submit_tag("Highlight") %>
  <% end %>
  <div>

    <script type="text/javascript">
    // runs the form logic
    $("form").on("submit", function(e){
      e.preventDefault();
      // retrieves the search term
      var term = $('#term').val().toLowerCase();
      // retrieves the marker objects
      var icons = map.featureLayer.getGeoJSON();

      // searches the markers
      _.each(icons, function(elem){

        // resets any currently highlighted markers
        elem.properties['marker-color'] = "#000000"
        elem.properties['marker-size'] = "medium";

        // checks to see if the marker matches the search term
        if(term !== "" && (elem.properties['title'].toLowerCase().indexOf(term) !== -1 || elem.properties['description'].toLowerCase().indexOf(term) !== -1)){

          // changes the marker color
          elem.properties['marker-color'] = "#FFE338";

          // enlarges the marker
          elem.properties['marker-size'] = "large";
        }
      });

      // adds the altered markers to the map
      map.featureLayer.setGeoJSON(icons);

      // resets the form field
      $('#term').val("");
    });
    </script>
